{% extends './base.html' %}
{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Event Sessions <a href="{{ url_for('event.new_event') }}" class="pull-right"><span class="glyphicon glyphicon-plus"></span> </a>
    </div>
    <table class="table">
        <tr>
            <th>Date Time</th>
            <th>Name</th>
            <th>Speaker</th>
            <th>Actions</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.EventSession.time }}</td>
                <td>{{ event.EventSession.title }}</td>
                <td>{{ event.f_name }} {{ event.l_name }}</td>
                <td><a href="{{ url_for('event.edit_event', id=event.EventSession.id) }}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="{{ url_for('event.detail_event', id=event.EventSession.id) }}"><span class="glyphicon glyphicon-sunglasses"></span></a> <span class="glyphicon glyphicon-remove"></span></td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}