{% extends './base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="jumbotron">
    <h1><a href="{{ url_for('.home') }}">Coming Soon</a></h1>
    <p>Augusta University Cyber Summit -- Helper Site</p>
</div>
<div class="row">
    {% for speaker in speakers %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{ speaker.image }}" width="242" height="200" alt="{{ speaker.f_name }} {{ speaker.l_name }}">
      <div class="caption">
        <h3>{{ speaker.f_name }} {{ speaker.l_name }}</h3>
        <p>{{ speaker.bio }}</p>
        <p><a href="#{{ speaker.id }}" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>

{% endblock %}
