{% extends './base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


<div class="row">
{% for event in events %}
  <div class="media">
    <div class="media-left media-middle">
      <a href="#"><img class="media-object" height="65px" src="{{ event.image }}"  alt="{{ event.f_name }} {{ event.l_name }}"></a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ event.EventSession.title }}</h4>
        <h5>{{ event.f_name }} {{ event.l_name }}</h5>
        <p>{{ event.EventSession.time.strftime('%b-%d-%Y %I:%M %p') }}</p>
        <p>{{ event.EventSession.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
